//
// BREAKPOINTS
//
$break-small: 670px;
$break-medium: 870px;
$break-large: 1024px;
$break-huge: 1280px;

//
// MIXINS
//

//mixin for breakpoints
@mixin media-query($type,$size) {
	@if $type == min { 
	@if $size == small {
		@media only screen and (min-width: $break-small) { @content; }
    }
    @else if $size == medium {
    	@media only screen and (min-width: $break-medium + 1) { @content; }
    }
    @else if $size == large {
    	@media only screen and (min-width: $break-large) { @content; }
    }
    @else if $size == huge {
    	@media only screen and (min-width: $break-huge) { @content; }
    }
  }
 
	@else if $type == max {
	@if $size == small {
		@media only screen and (max-width: $break-small) { @content; }
    }
    @else if $size == medium {
		@media only screen and (max-width: $break-medium) { @content; }
    }

    @else if $size == large {
		@media only screen and (max-width: $break-large) { @content; }
    }
    @else if $size == huge {
		@media only screen and (max-width: $break-huge) { @content; }
    }
  }
 
	@else if $type == only {
	@if $size == small {
		@media only screen and (max-width: $break-small) { @content; }
    }
    @else if $size == medium {
      @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) { @content; }
    }
    @else if $size == large {
      @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large) { @content; }
    }
    @else if $size == huge {
      @media only screen and (min-width: $break-huge) { @content; }
    }
  }
}

//mixin for flexbox goes here


//
// VARIABLES
//
$color-main: #000000; //black
$color-brand: #6E9934; //green
$color-accent: #3B4991; //indigo
$color-light: #64717D; //grey 
$white: #FFFFFF; //white

$font-serif: "Tisa Pro", Georgia, serif;
$font-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; 

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
} 


//base styles
body {
	margin: 0;
	padding: 0; 
}

article {
	max-width: 900px;
	margin: {
		top: 30px;
		left: 80px;
		}
	font: {
		family: $font-serif;
		size: 14px;
		}
	@include media-query(max,medium) {
		margin: 0 40px; 
	}
	@include media-query(max,small) {
		margin: 0 40px; 
	}
}

section {
	margin-bottom: 5px;
}

p {
	font: {
		family: $font-serif; 
		size: 14px;
	}
	line-height: 20px;
	margin-top: 2px;
	margin-bottom: 20px;  
}

a {
	color: $color-accent;
}

h1 {
	font: {
		family: $font-sans;
		size: 28px;
		weight: 400;
	}
	color: $color-brand;
}

h2 {
	font: {
		size: 18px;
		weight: 100;
		}
	a {
	color: $color-accent;
	}
}

h3 {
	margin: 0;
	padding-top: 10px; 
	font: {
		size: 16px;
		weight: 100;
	}
	color: $color-brand;
}

h4 {
	margin: 0;
	font: {
		size: 16px;
		weight: 100; 
	}
	color: $color-main;
}

h5 {
	padding: 0;
	margin: 0;
	font: {
		style: italic;
		weight: 100;
		}
	letter-spacing: 1px;
	text-transform: uppercase;
	list-style-type: none; 
} 

address {
	font-style: normal;
}

ol, ul {
	padding: 0;
	list-style-type: none;
}
ol li, ul li {
	padding-bottom: 10px;
}

//buttons 
a.btn {
	display: inline-block; 
	padding: 20px; 
	font: {
		family: $font-sans; 
		size: 12px; 
	}
	text: {
		transform: uppercase; 
		align: center;
		decoration: none;  
	}
	letter-spacing: 1px; 
	margin: {
		top: 10px; 
		right: 10px; 
		bottom: 10px; 
	}

	&--main {
		background: $color-accent; 
		color: $white; 

		&:hover {
			background: lighten($color-accent, 10%); 
		}
	}
	
	&--secondary { 
		border: 1px solid $color-brand; 
		border-radius: 3px;
		color: $color-brand;
		background: $white; 

		&:hover {
			border: lighten($color-brand, 10%);
			color: lighten($color-brand, 10%);
		} 
	}
}

//NAVIGATION

.page-header {
	width: 100%;
	height: 90px; 
	padding: 25px 25px 0 50px;
	margin: 0;
	position: relative;
	font: {
		family: $font-sans;
		size: 11px;
		weight: 500; 
	}
	letter-spacing: 1.5px;
	text-transform: uppercase;

	background-image: url("../../images/headerbg.png");

	@include media-query(max, medium) {
	 	font-size: 10px;
	  	padding: 25px 0 0 25px; 
	}
	
	@include media-query(max, small) {
		background-image: none; 
		height: 60px; 
		border-bottom: $color-brand solid 2px;
   		padding: 25px 75px 0 50px; 
	}
	
	img {
		width: 130px; 
		float: left; 
		
		@include media-query(max, medium) {
	 		width: 110px; 
	  		padding-top: 2px; 
		}
	
		@include media-query(max, small) {
			display: none; 
		}
	}
}

// navigation for mobile state
nav {
	.handle span {
		display: none;
	}

	@include media-query(max, small) {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 100%; 
		transition: right 200ms ease-in-out;		

		.handle {
			width: 70px;
			height: 60px;
			position: fixed; 
			top: 0;
			right: 0;
			cursor: pointer;
			border-left: 2px solid $color-brand;
			border-bottom: 2px solid $color-brand; 
			background: $white; 

			&:before {
				content: "";
				position: absolute; 
				top: 15px; 
				right: 0; 
				height: 3px; 
				width: 40px;
		        border-top: 9px double $color-brand; 
		        border-bottom: 3px solid $color-brand;
		        margin-right: 15px;    
		    }

			span {
			    display: inherit;
			    position: inherit; 
			    top: 36px; 
			    right: 0; 
			    margin-right: 12px;    
			    font: {
				    family: $font-sans; 
				    size: 12px; 
				    weight: 600; 
				}
				color: $color-brand;
		      	text: {
			        transform: uppercase;
			        align: center; 
		      	}
		    	letter-spacing: 2px; 
		  	}
		}
	}

	ul { 
	position: relative;
	float: right;
	margin-right: 25px; 

	@include media-query(max, small) {
		float: none; 
		padding: 0; 
		margin: 0; 
		width: 250px; 
		background: $white;
    	border: {
    		bottom: 2px solid $color-brand;
    		left: 2px solid $color-brand; 
 			right: 2px solid $color-brand; 
    		radius: 3px;
    	}

		&.open {
			right: calc(250px + 70px - 3px); 
		}
	}

	li {
		display: inline;
		position: relative;
		padding-left: 35px;
	
		@include media-query(max, medium) { 
			padding-left: 15px; 
			padding-right: 0; 
		} 
    
    	@include media-query(max, small) { 
			display: block;
      		padding: 10px 0;
     	} 

		a {
			color: $white;
			text-decoration: none;
		
			@include media-query(max, small) { 
        		color: $color-brand; 
            	padding-left: 10px; 
      		}
	  	}

	  	&:hover ul {
			display: block;
		}

		ul {
			padding: 10px;
			position: absolute;
			display: none;
			left: 0;
			top: 100%;
			border: 2px solid lighten($color-light, 30%);
			border-radius: 3px;
			background: $white;

	   		@include media-query(max, small) {
		    	position: relative; 
		     	border: 0;
	  		}	
		}
	}
}
}

nav .children {
	display: none; 
	width: 210px; 
	padding: 0; 
	left: 27%; 

  	@include media-query(max, medium) { 
    	left: 16%; 
    	width: 190px; 
  	}

  	@include media-query(max, small) { 
    	display: block; 
    	left: 7px; 
  	}

	li {
		display: inherit; 
		padding: inherit; 

		a {
		display: block; 
		padding: 10px 20px; 
		color: $color-light;
		border-bottom: 2px solid lighten($color-light, 30%);  
		
			&:hover {
				color: darken($color-light, 30%);
				}
		
			@include media-query(max, medium) {
 				padding: 10px 15px; 
    		}
		}
	}

	li:last-of-type a {
		border-bottom: 0; 
	}
}

  
//nav-dropdown-arrow
nav li.has-children > a:before {
	content: "\25bc";
	display: inline; 
	position: relative; 
	margin-right: 5px;
	top: -2px; 
	font-size: 80%; 
}

//nav-contact-left
#nav-align-left {
	left: -40%;
	width: 150px;
		
	@include media-query(max, medium) {
		left: -85%; 
	}

	@include media-query(max, small) {
		left: 0; 
		width: 220px; 
	}
}

//CONTENT FLEX
.flex-container {
  	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	-webkit-justify-content: "space-between";
	-moz-justify-content: "space-between"; 
 	justify-content: "space-between";
 	-webkit-box-align: "baseline";
 	-ms-flex-align: "baseline";
 	-webkit-align-items: "baseline";
 	-moz-align-items: "baseline";
 	align-items: "baseline";
 	padding-right: 5px;

 	@include media-query(max, small) {
  		flex-direction: column; 	
  	} 

	.flex-twocols_leftborder {
		border-left: 2px solid $color-brand; 
  		padding-left: 30px;  
  		max-width: 40%;

  		li {
		padding-bottom: 5px;
		
			img {
				width: 35px;
				margin-right: 15px;
			}

		}

  		@include media-query(max, small) {
  			border: 0; 
  			margin: 0; 
  			padding: 0;
  		} 
	}

	.flex-twocols_no-border {
  		padding: 0 30px; 
  		max-width: 30%; 

  		li {
		padding-bottom: 5px;
		
			img {
				width: 35px;
				margin-right: 15px;
			}

		}

  		@include media-query(max, small) {
  			border: 0; 
  			margin: 0; 
  			padding: 0; 
  		} 
	}
	
	.flex-1stcols {
		margin-right: 30px;  
		max-width: 60%; 

		@include media-query(max, small) {
  			flex-direction: column;
  			align-items: center; 
  			max-width: 100%; 
  			margin: 0;  	
  		} 

	}

//come back to this. this is weird. the name and it might be a little redundant
	.flex-twocols {
 		display: flex; 
 		justify-content: space-between;

 		@include media-query(max, small) {
  			flex-direction: column;
  			align-items: center;  	
  		} 
		
		img.notb1-logo {
			display: inline; 
			max-height: 55px;
			margin-bottom: 30px;

			@include media-query (max, medium) {
				max-height: 45px; 
			}

			@include media-query(max, small) {
  				max-width: 200px; 
  				max-height: none; 
  			}	
		}
	}
}

//FOOTER
footer {
	width: 100%;
	padding: {
		top: 50px;
		bottom: 50px;
	}
	font: {
		family: $font-serif;
		size: 12px;
		} 
	}	

#footer-rule {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	background: lighten($color-accent, 50%)
}

.page-footer_content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	-webkit-justify-content: "space-around";
	-moz-justify-content: "space-around"; 
 	justify-content: "space-around";
 	-webkit-box-align: "baseline";
 	-ms-flex-align: "baseline";
 	-webkit-align-items: "baseline";
 	-moz-align-items: "baseline";
 	align-items: "baseline";
	justify-content: space-around; 
	max-width: 1100px;  	

	@include media-query(max,small) {
		flex-direction: column; 
		padding-left: 40px;
	}

	section { 
		@include media-query(max, small) {
			margin: 0 0 15px 0;
		}
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		padding-bottom: 5px;
		
		img {
			width: 25px;
			margin: {
				right: 5px;
				top: 5px;
			}
		}
	}
}

.footer-copyright {
	text-align: right;
	padding-right: 50px; 
	padding-left: 0; 

	@include media-query(max, small) {
		padding: 0; 
		text-align: left; 
	}
}

#footer-logo {
	width: 120px;
	
	@include media-query(max, small) {
		width: 100px; 
	}
}