
$color-main: #000000; //black
$color-brand: #6E9934; //green
$color-accent: #3B4991; //indigo
$color-light: #64717D; //grey 

$font-serif: "Tisa Pro", Georgia, serif;
$font-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; 

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
} 


//base styles
body {
	margin: 0;
}

section {
	margin-bottom: 35px;
}

p {
	font: {
		family: $font-serif; 
		size: 14px;
	}
	line-height: 20px;
}

a {
	color: $color-accent;
}

h1 {
	font: {
		family: $font-sans;
		size: 28px;
		weight: 400;
	}
	color: $color-brand;
}

h2 {
	font: {
		size: 18px;
		weight: 100;
		}
	a {
	color: $color-accent;
	}
}

h3 {
	margin: 0;
	font: {
		size: 14px;
		weight: 600;
	}
	color: $color-brand;
}

h4 {
	padding: 0;
	margin: 0;
	font: {
		style: italic;
		weight: 100;
		}
	letter-spacing: 1px;
	text-transform: uppercase;
	list-style-type: none; 

} 

address {
	font-style: normal;
}

//navigation

.page-header {
	width: 100%;
	height: 90px;
	padding: 25px 75px 0 50px;
	margin: 0;
	position: relative;
	font: {
		family: $font-sans;
		size: 11px;
		weight: 500; 
		}
	letter-spacing: 1.5px;
	text-transform: uppercase;

	background-image: url("../../images/headerbg.png");
	
	img {
	width: 130px;
	float: left;
	}
}

nav ul {
	position: relative;
	float: right;
	
	li {
		display: inline;
		position: relative;
		padding-right: 35px;

		a {
		color: #FFFFFF;
		text-decoration: none; 
			}
		}

	ul {
		padding: 10px;
		position: absolute;
		display: none;
		left: 0;
		top: 100%;
		border: 2px solid lighten($color-light, 30%);
		border-radius: 3px;
		background: #FFFFFF; 
	}	

	li:hover ul {
		display: block; 
		}
}

//nav-dropdown 
nav .children {
	display: none; 
	width: 220px; 
	padding: 0; 

	li {
	display: inherit; 
	padding: inherit; 

		a {
		display: block; 
		color: $color-light;
		padding: 10px 20px; 
		border-bottom: 2px solid lighten($color-light, 30%);  
			&:hover {
			color: darken($color-light, 30%);
			}
		}
	}

	li:last-of-type a {
		border-bottom: 0; 
	}
}

//nav-dropdown-arrow
nav li.has-children > a:before {
	content: "\25bc";
	display: inline; 
	position: relative; 
	margin-right: 5px;
	top: -2px; 
	font-size: 80%; 
}

//content 
article {
	max-width: 900px;
	margin: {
		top: 30px;
		left: 80px;
		}
	font: {
		family: $font-serif;
		size: 14px;
		}
}

ol, ul {
	padding: 0;
	list-style-type: none;
}
ol li, ul li {
	padding-bottom: 10px;
}

//footer
footer {
	width: 100%;
	padding: {
		top: 50px;
		bottom: 80px;
	}
	font: {
		family: $font-serif;
		size: 12px;
		}
	 
	section {
		flex: 1;
		padding-left: 60px;
	}

	ul {
		padding: 0;
		margin: 0;
	}

	li {
		padding-bottom: 5px;
		
		img {
			width: 25px;
			margin: {
				right: 5px;
				top: 5px;
			}
		}
	}
}

#nav-align-left {
	left: -110%;
	width: 150px;  
}

.footer-copyright {
	text-align: right;
	padding-right: 100px; 
	padding-left: 0; 
}

#footer-rule {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	background: lighten($color-accent, 50%)
}

#page-footer_content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	-webkit-justify-content: "space-around";
	-moz-justify-content: "space-around"; 
 	justify-content: "space-around";
 	-webkit-box-align: "baseline";
 	-ms-flex-align: "baseline";
 	-webkit-align-items: "baseline";
 	-moz-align-items: "baseline";
 	align-items: "baseline";
}

#footer-logo {
	width: 120px;
}