//  TO DO
//  X transform for mobile nav handle
//  homepage different navigation style and hero image
//  sign-up form

// BREAKPOINTS
$break-small: 670px;
$break-medium: 870px;
$break-large: 1024px;
$break-huge: 1280px;

// MIXINS
//mixin for breakpoints
@mixin media-query($type,$size) {
    @if $type == min { 
    @if $size == small {
        @media only screen and (min-width: $break-small) { @content; }
    }
    @else if $size == medium {
        @media only screen and (min-width: $break-medium + 1) { @content; }
    }
    @else if $size == large {
        @media only screen and (min-width: $break-large) { @content; }
    }
    @else if $size == huge {
        @media only screen and (min-width: $break-huge) { @content; }
    }
  }
 
    @else if $type == max {
    @if $size == small {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $size == medium {
        @media only screen and (max-width: $break-medium) { @content; }
    }

    @else if $size == large {
        @media only screen and (max-width: $break-large) { @content; }
    }
    @else if $size == huge {
        @media only screen and (max-width: $break-huge) { @content; }
    }
  }
 
    @else if $type == only {
    @if $size == small {
        @media only screen and (max-width: $break-small) { @content; }
    }
    @else if $size == medium {
      @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium) { @content; }
    }
    @else if $size == large {
      @media only screen and (min-width: $break-medium + 1) and (max-width: $break-large) { @content; }
    }
    @else if $size == huge {
      @media only screen and (min-width: $break-huge) { @content; }
    }
  }
}

//mixin for flexbox goes here

// VARIABLES
$color-main: #000000; //black
$color-brand: #6E9934; //green
$color-accent: #3B4991; //indigo
$color-light: #64717D; //grey 
$white: #FFFFFF; //white

$font-serif: "Tisa Pro", Georgia, serif;
$font-sans: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif; 

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
} 

//base styles
body {
    margin: 0;
    padding: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul {
  margin: 1rem 0px;
}

article {
    max-width: 800px;
    margin-left: 100px;
    font: {
        family: $font-serif;
        size: 14px;
    }
    @include media-query(max,medium) {
        margin: 0 40px; 
    }
}

section {
    margin-bottom: 35px;
}

p {
    font: {
        family: $font-serif; 
        size: 14px;
    }
    line-height: 22px;
    margin-top: 0; 
    margin-bottom: 10px; 
}

a {
    color: $color-accent;
    
    &:hover {
        color: lighten($color-accent, 15%);
    }
}

h1 {
    font: {
        family: $font-sans;
        size: 28px;
        weight: 100;
    }
    color: $color-brand;
}

header {
    margin-top: 40px; 
}


h2 { 
    font: {
        family: $font-serif; 
        size: 18px;
        weight: 100;
    }
}

h3 {
    font: {
        family: $font-sans;
        size: 16px;
        weight: 400; 
    }
    color: $color-brand;

    a {
        color: $color-accent;
        
        &:hover {
            color: lighten($color-accent, 15%);
        }
    }
}

h4 {
    margin-top: 15px; 
    font: {
        family: $font-sans; 
        size: 14px;
        weight: 400; 
    }
    color: $color-main; 
}

h5 {
    margin: 0; 
    font: {
        size: 12px; 
        weight: 600; 
        family: $font-sans; 
    }
    color: $color-brand;
    text-transform: uppercase; 
    letter-spacing: 1px; 

}

h6 {
    padding: 0;
    margin-top: 0; 
    margin-bottom: 2px; 
    font: {
        family: $font-serif; 
        style: italic;
    }
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style-type: none; 
} 

address {
    font-style: normal;
}

ol, ul {
    padding: 0;
    list-style-type: none;
}

hr {
    display: block; 
    margin: 3rem auto; 
    padding: 0; 
    max-width: 15%; 
    height: 1px; 
    border-top: 3px solid $color-brand; 
}

//buttons 
.btn-main {
    display: inline-block; 
    background: $color-accent; 
    padding: 13px 26px; 
    margin: {
        top: 10px; 
        right: 10px; 
        bottom: 25px; 
    }
    border-radius: 3px; 
    font: {
        family: $font-sans; 
        size: 12px; 
    }
    text: {
        transform: uppercase;
        align: center;
        decoration: none;  
    }
    letter-spacing: 1.5px; 
    color: $white; 
  
    &:hover {
        background: lighten($color-accent, 5%);
        color: $white; 
    }
}
 
.btn-secondary {
    display: inline-block; 
    border: 2px solid $color-accent; 
    padding: 10px 25px; 
    margin: {
        right: 10px; 
        bottom: 25px; 
    }
    border-radius: 3px; 
    font: {
        family: $font-sans; 
        size: 12px; 
    }
    text: {
        transform: uppercase;
        align: center; 
        decoration: none; 
    }
    letter-spacing: 1.5px; 
    color: $color-accent; 
  
    &:hover {
        border: 2px solid lighten($color-accent, 20%);
        color: lighten($color-accent, 20%);
    }
}

//NAVIGATION

.page-header {
    width: 100%;
    height: 90px; 
    padding: 25px 25px 0 50px;
    margin: 0;
    position: relative;
    font: {
        family: $font-sans;
        size: 11px;
        weight: 500; 
    }
    letter-spacing: 1.5px;
    text-transform: uppercase;

    background-image: url("../../images/headerbg.png");

    @include media-query(max, medium) {
        font-size: 10px;
        padding: 25px 0 0 25px; 
    }
    
    @include media-query(max, small) {
        background-image: none; 
        height: 75px; 
        border-bottom: $color-brand solid 2px;
        padding: 25px 75px 0 25px; 
        font-size: 10px; 
    }
    
    img {
        width: 130px; 
        float: left; 
        
        @include media-query(max, medium) {
            width: 110px; 
            padding-top: 2px; 
        }
    
        @include media-query(max, small) {
            width: 110px; 
            padding-top: 0;  
        }
    }
}

//homepage header
.page-header_homepage {
    position: relative;
    padding: 25px 25px 0 50px;
    margin: 0;
    width: 100%;
    height: 400px;
    font: {
        family: $font-sans;
        size: 11px;
        weight: 500; 
    }
    letter-spacing: 1.5px;
    text-transform: uppercase;

    background-image: url("../../images/headerbg_homepage.jpg");
    background-repeat: no-repeat; 
    border-bottom: 15px solid $color-brand; 

    @include media-query(max, medium) {
        font-size: 10px;
        padding: 25px 0 0 25px; 
    }
    
    @include media-query(max, small) {
        background-image: none; 
        height: 75px; 
        border-bottom: $color-brand solid 2px;
        padding: 25px 75px 0 25px; 
        font-size: 10px; 
    }
    
    img {
        width: 130px; 
        float: left; 
        
        @include media-query(max, medium) {
            width: 110px; 
            padding-top: 2px; 
        }
    
        @include media-query(max, small) {
            width: 110px; 
            padding-top: 0;  
        }
    }
    
    .hero-text-container {
        max-width: 900px; 
        margin: {
            top: 115px; 
            right: 125px; 
            left: 50px; 
        } 
        @include media-query(max, small) {
            display: none; 
        }
        .hero-header {
            font: {
                family: $font-sans;
                weight: 100;
                size: 32px; 
            } 
            text-transform: none; 
            letter-spacing: 0;
            color: $white; 
        }

        .hero-subheader {
            margin-top: 25px; 
            font: {
                family: $font-sans;
                weight: 100;
                size: 22px; 
            } 
            text-transform: none; 
            letter-spacing: 0;
            color: $white;
        }
    }
}


// navigation for mobile state
nav {
    .handle span {
        display: none;
    }

    @include media-query(max, small) {
        position: fixed; 
        top: 0;
        bottom: 0;
        left: 100%; 
        transition: right 200ms ease-in-out;        

        .handle {
            width: 80px;
            height: 75px;
            position: fixed;
            top: 0;
            right: 0;
            cursor: pointer;
            border-left: 2px solid $color-brand;
            border-bottom: 2px solid $color-brand; 
            background: $white; 

            &:before {
                content: "";
                position: absolute; 
                top: 20px; 
                right: 0; 
                height: 3px; 
                width: 40px; 
                border-bottom: 3px solid $color-brand;
                margin-right: 19px;
            }

            &:after {
                content: "";
                position: absolute; 
                top: 27px; 
                right: 0; 
                height: 3px; 
                width: 40px; 
                border-bottom: 3px solid $color-brand;
                margin-right: 19px;   
            }

            span {
                display: inherit;
                position: inherit; 
                top: 42px; 
                right: 0; 
                margin-right: 17px;    
                font: {
                    family: $font-sans; 
                    size: 12px; 
                    weight: 600; 
                }
                color: $color-brand;
                text: {
                    transform: uppercase;
                    align: center; 
                }
                letter-spacing: 2px; 
            }

        }

        > ul {
            overflow-y: scroll;
            max-height: 80vh; 
        }
    }

    ul { 
        position: relative;
        float: right;
        margin-right: 25px;
        margin-top: 12px; 

        @include media-query(max, small) {
            float: none; 
            padding-top: 6.5px; 
            margin: 0; 
            background: $white;
            border: {
                bottom: 2px solid $color-brand;
                left: 2px solid $color-brand; 
                right: 2px solid $color-brand; 
                radius: 3px;
            }    

            &.open {
                right: calc(253px + 80px - 6px);
            }
        }

        li {
            display: inline;
            position: relative;
            padding-left: 35px;

            &:last-of-type {
                border-bottom: 0; 
            }
            
            @include media-query(max, medium) { 
                padding-left: 15px; 
                padding-right: 0; 
            } 
        
            @include media-query(max, small) { 
                display: block;
                padding: 0;
            } 

            a {
                color: $white;
                text-decoration: none;

                &:hover {
                    color: $white; 
                }
            
                @include media-query(max, small) { 
                    display: block; 
                    padding: 10px 20px 10px 15px;
                    border-bottom: 2px solid lighten($color-light, 30%);
                    color: $color-brand; 
                    font-weight: 600;

                    &:hover {
                        color: darken($color-brand, 10%);               }  
                    }
                }

            &:hover ul {
                display: block;
            }

            ul {
                margin: 0;
                padding: 10px;
                position: absolute;
                display: none;
                left: 0;
                top: 100%;
                border: {
                    top: 2px solid lighten($color-light, 30%);
                    left: 2px solid lighten($color-light, 30%);
                    right: 2px solid lighten($color-light, 30%);
                    radius: 3px;
                }
                background: $white;

                @include media-query(max, small) {
                    position: relative; 
                    border: 0;
                }   
            }
        }
    }
}

nav > ul > li:last-of-type li:last-of-type a {
    border-bottom: 0;
}

nav .children {
    display: none; 
    width: 221px; 
    padding: 0; 
    left: 27%; 

    @include media-query(max, medium) { 
        left: 16%; 
        width: 190px;
    }

    @include media-query(max, small) { 
        display: block; 
        left: 0;
    }

    li {
        display: inherit; 
        padding: inherit; 

        a {
            display: block; 
            padding: 10px 20px; 
            color: $color-light;
            font-weight: 600; 
            border-bottom: 2px solid lighten($color-light, 30%);  

            &:hover {
                color: darken($color-light, 30%);
            }

            @include media-query(max, medium) {
                padding: 10px 15px 10px 15px; 
            }

            @include media-query(max, small) {
                padding-left: 25px; 
                width: 246px;
                font-weight: 600;
                &:last-of-type {
                    border-bottom: 2px solid lighten($color-light, 30%);  
                }
            }
        }
    }
}
  
//nav-dropdown-arrow
nav li.has-children {
    > a:before {
        content: "\25bc";
        display: inline; 
        position: relative; 
        margin-right: 5px;
        top: -2px; 
        font-size: 80%;
        @include media-query(max, small) {
            display: none;
        } 
    }
    @include media-query(max, small) {
        > a:after {
            content: "\25bc";
            display: inline; 
            position: relative; 
            margin-left: 5px;
            top: -2px; 
            font-size: 80%;
        }
    }
}

//nav-contact-left
#nav-align-left {
    left: -40%;
    width: 160px;
    border-bottom: 2px solid lighten($color-light, 30%);  


    @include media-query(max, medium) {
        left: -85%; 
    }

    @include media-query(max, small) {
        left: 0; 
        width: 246px;
        border-bottom: 0; 
    }
}

//CONTENT 
//flex
.flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: "space-between";
    -moz-justify-content: "space-between"; 
    justify-content: "space-between";
    -webkit-box-align: "baseline";
    -ms-flex-align: "baseline";
    -webkit-align-items: "baseline";
    -moz-align-items: "baseline";
    align-items: "baseline";
    padding-right: 5px;

    @include media-query(max, small) {
        flex-direction: column;     
    } 
    
    .flex-1stcol {
        margin-right: 30px;  
        max-width: 60%; 

        @include media-query(max, small) {
            flex-direction: column;
            align-items: center; 
            max-width: 100%; 
            margin: 0;      
        } 
    }

    .flex-nested-row {
        display: flex; 
        justify-content: space-between;

        @include media-query(max, small) {
            flex-direction: column;
            align-items: center;  
            margin-bottom: 10px;    
        } 
        
        img.notb1-logo {
            display: inline; 
            margin-top: 10px; 
            max-height: 48px;
            
            @include media-query (max, medium) {
                max-height: 40px; 
            }

            @include media-query(max, small) {
                max-width: 200px; 
                max-height: none; 
                margin-top: 20px; 
            }   
        }
    }

    .flex-2ndcol_no-border {
        padding: 0 30px; 
        max-width: 100%; 

        img.screenshot {
            max-width: 100%; 
            padding: 0;
            margin-bottom: 30px; 
            -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1); 
            -moz-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1); 
            box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1); 
        
            @include media-query(max, small) {
                max-width: 90%; 
            } 
        }

        li {
        padding-bottom: 5px;
        
            img {
                width: 35px;
                margin-right: 15px;
            }
        }

        @include media-query(max, small) {
            border: 0; 
            margin: 0; 
            padding: 0; 
        } 
    }

    .flex-2ndcol_leftborder {
        border-left: 2px solid $color-brand; 
        padding-left: 30px;  
        max-width: 40%;

        li {
        padding-bottom: 5px;
        
            img {
                width: 35px;
                margin-right: 15px;
            }
        }

        @include media-query(max, small) {
            border: 0; 
            margin: 20px 0 0 0; 
            padding: 0;
            max-width: 100%;
            text-align: center; 
        } 
    }
}

.flex-grid {
  display: flex; 
  flex-wrap: wrap;
  margin-bottom: 20px; 

    .bio-list-item {
        display: flex; 
        margin-right: 40px;
        margin-bottom: 20px;  
        flex-direction: column; 
     
        .bio-list-item_image {
            width: 150px; 
            height: 150px; 
            margin-top: 20px;
        }

        p.bio-list-item_info {
            width: 150px; 
            margin-top: 10px;
            font-size: 12px; 
            line-height: 18px;
          
            span.bio-list-item_name {
                font-weight: 600; 
            }
        }
    }
    
    .news-item {
        width: 240px;
        margin-right: 25px;
        font-size: 13px;  
        line-height: 16px;  

        @include media-query(max, medium) {
            width: 50%;
        } 
    }
}

.homepage-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: "space-between";
    -moz-justify-content: "space-between"; 
    justify-content: "space-between";
    -webkit-box-align: "baseline";
    -ms-flex-align: "baseline";
    -webkit-align-items: "baseline";
    -moz-align-items: "baseline";
    align-items: "baseline";

    @include media-query(max, small) { 
        flex-direction: column; 
    }
    
    .homepage-flex-icon {
       img {
            max-width: 80px;
            margin-right: 20px;
            margin-top: 20px;  

            @include media-query(max, medium) { 
                max-width: 70px; 
            }

             @include media-query(max, small) { 
                max-width: 90px; 
            }
        } 
    }

    .homepage-flex-content {
        max-width: 40%; 
        margin-right: 20px;
        h3 {
            margin-bottom: 5px; 
        }

        @include media-query(max, medium) { 
            ol {
                margin-bottom: 20px; 
            }
            h3 {
                font-size: 14px;
                margin-bottom: 5px;  
            }
            font-size: 13px; 
        }

        @include media-query(max, small) {
            max-width: 80%;
            h3 {
                font-size: 16px; 
            } 
            font-size: 16px;
        }  
    }
}

//columns
ol.event-list-three-columns {
    margin: 0; 
    padding: 0;  
    
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; 
    list-style-type: none;

    @include media-query(max, medium) {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;     
    }

    @include media-query(max, small) {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;     
    }  

    .event-list-item {
        display: inline-block;
        width: 100%; 
    }
}

//images
img.pub-logo {
    display: inline; 
    max-width: 200px;
    margin-top: 40px; 
    margin-bottom: 10px;

    @include media-query(max, small) {
        max-width: 200px; 
        margin-top: 30px; 
    }   
}

//FOOTER
footer {
    width: 100%;
    padding: {
        top: 50px;
        bottom: 50px;
    }
    font: {
        family: $font-serif;
        size: 12px;
    } 
   

    #footer-rule {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        background: lighten($color-accent, 50%)
    }

    .page-footer_content {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        -webkit-justify-content: "space-around";
        -moz-justify-content: "space-around"; 
        justify-content: "space-around";
        -webkit-box-align: "baseline";
        -ms-flex-align: "baseline";
        -webkit-align-items: "baseline";
        -moz-align-items: "baseline";
        align-items: "baseline";
        justify-content: space-around; 
        max-width: 1100px;      

        @include media-query(max,small) {
            flex-direction: column; 
            padding-left: 40px;
        }

        section { 
            @include media-query(max, small) {
                margin: 0 0 15px 0;
            }
        }

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            padding-bottom: 5px;
            
            img {
                width: 25px;
                margin: {
                    right: 5px;
                    top: 5px;
                }
                
                @include media-query(max, small) {
                    width: 30px; 
                    margin-right: 10px;
                }
            
            }
        }
    }

    .footer-copyright {
        text-align: right;
        padding-right: 50px; 
        padding-left: 0; 

        @include media-query(max, small) {
            padding: 0; 
            text-align: left; 
        }
    }

    #footer-logo {
        width: 120px;
        
        @include media-query(max, small) {
            width: 100px; 
        }
    }
}