* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
aside {
  margin: 1rem 0px; }

article {
  max-width: 800px;
  margin-left: 100px;
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 14px; }
  @media only screen and (max-width: 870px) {
    article {
      margin: 0 40px; } }

section {
  margin-bottom: 35px; }

p {
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 14px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 10px; }

a {
  color: #3B4991; }
  a:hover {
    color: #5c6cbd; }

h1 {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: 100;
  color: #6E9934; }

header {
  margin-top: 40px; }

h2 {
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 18px;
  font-weight: 100; }

h3 {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #6E9934; }
  h3 a {
    color: #3B4991; }
    h3 a:hover {
      color: #5c6cbd; }

h4 {
  margin-top: 15px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000; }

h5 {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6E9934;
  text-transform: uppercase;
  letter-spacing: 1px; }

h6 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 2px;
  font-family: "Tisa Pro", Georgia, serif;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style-type: none; }

address {
  font-style: normal; }

ol, ul {
  padding: 0;
  list-style-type: none; }

hr {
  display: block;
  margin: 4rem auto;
  padding: 0;
  max-width: 25%;
  height: 1px;
  border-top: 3px solid #6E9934;
  border-radius: none; }

.purple {
  color: #3B4991;
  font-weight: 600; }

.btn-main {
  display: inline-block;
  background: #3B4991;
  padding: 13px 26px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  border-radius: 3px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #FFFFFF; }
  .btn-main:hover {
    background: #4252a3;
    color: #FFFFFF; }

.btn-secondary {
  display: inline-block;
  border: 2px solid #3B4991;
  padding: 10px 25px;
  margin-right: 10px;
  margin-bottom: 25px;
  border-radius: 3px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #3B4991; }
  .btn-secondary:hover {
    border: 2px solid #6e7cc4;
    color: #6e7cc4; }

.btn-secondary-charter {
  display: inline-block;
  border: 2px solid #3B4991;
  padding: 10px 25px;
  margin-right: 10px;
  margin-bottom: 25px;
  border-radius: 3px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #3B4991; }
  .btn-secondary-charter:hover {
    border: 2px solid #6e7cc4;
    color: #6e7cc4; }

#charter-supporters-container {
  display: none; }
  #charter-supporters-container.open {
    display: inline;
    margin: 0;
    padding: 0; }
    #charter-supporters-container.open ul {
      margin-top: 0;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      list-style-type: none; }
      @media only screen and (max-width: 870px) {
        #charter-supporters-container.open ul {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2; } }
      @media only screen and (max-width: 670px) {
        #charter-supporters-container.open ul {
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1; } }
      #charter-supporters-container.open ul .list-item {
        display: inline-block;
        width: 100%; }

.page-header {
  width: 100%;
  height: 90px;
  padding: 25px 25px 0 50px;
  margin: 0;
  position: relative;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-image: url("../../images/headerbg.png"); }
  @media only screen and (max-width: 870px) {
    .page-header {
      font-size: 10px;
      padding: 25px 0 0 25px; } }
  @media only screen and (max-width: 670px) {
    .page-header {
      background-image: none;
      height: 75px;
      border-bottom: #6E9934 solid 2px;
      padding: 25px 75px 0 25px;
      font-size: 10px; } }
  .page-header img {
    width: 130px;
    float: left; }
    @media only screen and (max-width: 870px) {
      .page-header img {
        width: 110px;
        padding-top: 2px; } }
    @media only screen and (max-width: 670px) {
      .page-header img {
        width: 110px;
        padding-top: 0; } }

.page-header_homepage {
  position: relative;
  padding: 25px 25px 0 50px;
  margin: 0;
  width: 100%;
  height: 400px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-image: url("../../images/headerbg_homepage.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 15px solid #6E9934; }
  @media only screen and (max-width: 870px) {
    .page-header_homepage {
      font-size: 10px;
      padding: 25px 0 0 25px; } }
  @media only screen and (max-width: 670px) {
    .page-header_homepage {
      background-image: none;
      height: 75px;
      border-bottom: #6E9934 solid 2px;
      padding: 25px 75px 0 25px;
      font-size: 10px; } }
  .page-header_homepage img {
    width: 130px;
    float: left; }
    @media only screen and (max-width: 870px) {
      .page-header_homepage img {
        width: 110px;
        padding-top: 2px; } }
    @media only screen and (max-width: 670px) {
      .page-header_homepage img {
        width: 110px;
        padding-top: 0; } }
  .page-header_homepage .hero-text-container {
    max-width: 900px;
    margin-top: 115px;
    margin-right: 125px;
    margin-left: 50px; }
    @media only screen and (max-width: 670px) {
      .page-header_homepage .hero-text-container {
        display: none; } }
    .page-header_homepage .hero-text-container .hero-header {
      font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 100;
      font-size: 32px;
      text-transform: none;
      letter-spacing: 0;
      color: #FFFFFF; }
    .page-header_homepage .hero-text-container .hero-subheader {
      margin-top: 25px;
      font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 100;
      font-size: 22px;
      text-transform: none;
      letter-spacing: 0;
      color: #FFFFFF; }

nav .handle span {
  display: none; }
@media only screen and (max-width: 670px) {
  nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    transition: right 200ms ease-in-out; }
    nav .handle {
      width: 80px;
      height: 75px;
      position: fixed;
      top: 0;
      right: 0;
      cursor: pointer;
      border-left: 2px solid #6E9934;
      border-bottom: 2px solid #6E9934;
      background: #FFFFFF; }
      nav .handle:before {
        content: "";
        position: absolute;
        top: 18px;
        right: 0;
        height: 3px;
        width: 40px;
        border-bottom: 3px solid #6E9934;
        margin-right: 19px; }
      nav .handle:after {
        content: "";
        position: absolute;
        top: 25px;
        right: 0;
        height: 3px;
        width: 40px;
        border-bottom: 3px solid #6E9934;
        margin-right: 19px; }
      nav .handle span {
        display: inherit;
        position: inherit;
        top: 45px;
        right: 0;
        margin-right: 17px;
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 600;
        color: #6E9934;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px; }
        nav .handle span:before {
          content: "";
          position: absolute;
          bottom: 22px;
          right: 0;
          height: 3px;
          width: 40px;
          border-bottom: 3px solid #6E9934;
          margin-right: 2px; }
    nav > ul {
      overflow-y: scroll;
      max-height: 90vh; } }
nav.open ul {
  right: calc(265px + 80px - 2px); }
nav ul {
  position: relative;
  float: right;
  margin-right: 25px;
  margin-top: 12px; }
  @media only screen and (max-width: 670px) {
    nav ul {
      float: none;
      padding-top: 6.5px;
      margin: 0;
      background: #FFFFFF;
      border-bottom: 2px solid #6E9934;
      border-left: 2px solid #6E9934;
      border-right: 2px solid #6E9934;
      border-radius: 3px; } }
  nav ul li {
    display: inline;
    position: relative;
    padding-left: 35px; }
    nav ul li:last-of-type {
      border-bottom: 0; }
    @media only screen and (max-width: 870px) {
      nav ul li {
        padding-left: 15px;
        padding-right: 0; } }
    @media only screen and (max-width: 670px) {
      nav ul li {
        display: block;
        padding: 0; } }
    nav ul li a {
      color: #FFFFFF;
      text-decoration: none; }
      nav ul li a:hover {
        color: #FFFFFF; }
      @media only screen and (max-width: 670px) {
        nav ul li a {
          display: block;
          padding: 10px 20px 10px 15px;
          border-bottom: 2px solid #b6bdc4;
          color: #6E9934;
          font-weight: 600; }
          nav ul li a:hover {
            color: #537327; } }
    nav ul li:hover ul {
      display: block; }
    nav ul li ul {
      margin: 0;
      padding: 10px;
      position: absolute;
      display: none;
      left: 0;
      top: 100%;
      border-top: 2px solid #b6bdc4;
      border-left: 2px solid #b6bdc4;
      border-right: 2px solid #b6bdc4;
      border-radius: 3px;
      background: #FFFFFF; }
      @media only screen and (max-width: 670px) {
        nav ul li ul {
          position: relative;
          border: 0; } }

nav > ul > li:last-of-type li:last-of-type a {
  border-bottom: 0; }

nav .children {
  display: none;
  width: 221px;
  padding: 0;
  left: 27%; }
  @media only screen and (max-width: 870px) {
    nav .children {
      left: 16%;
      width: 190px; } }
  @media only screen and (max-width: 670px) {
    nav .children {
      display: block;
      left: 0; } }
  nav .children li {
    display: inherit;
    padding: inherit; }
    nav .children li a {
      display: block;
      padding: 10px 20px;
      color: #64717D;
      font-weight: 600;
      border-bottom: 2px solid #b6bdc4; }
      nav .children li a:hover {
        color: #202428; }
      @media only screen and (max-width: 870px) {
        nav .children li a {
          padding: 10px 15px 10px 15px; } }
      @media only screen and (max-width: 670px) {
        nav .children li a {
          padding-left: 25px;
          width: 246px;
          font-weight: 600; }
          nav .children li a:last-of-type {
            border-bottom: 2px solid #b6bdc4; } }

nav li.has-children > a:before {
  content: "\25bc";
  display: inline;
  position: relative;
  margin-right: 5px;
  top: -2px;
  font-size: 80%; }
  @media only screen and (max-width: 670px) {
    nav li.has-children > a:before {
      display: none; } }
@media only screen and (max-width: 670px) {
  nav li.has-children > a:after {
    content: "\25bc";
    display: inline;
    position: relative;
    margin-left: 5px;
    top: -2px;
    font-size: 80%; } }

#nav-align-left {
  left: -40%;
  width: 160px;
  border-bottom: 2px solid #b6bdc4; }
  @media only screen and (max-width: 870px) {
    #nav-align-left {
      left: -85%; } }
  @media only screen and (max-width: 670px) {
    #nav-align-left {
      left: 0;
      width: 246px;
      border-bottom: 0; } }

#mc_embed_signup input {
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #3B4991;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 3px; }
  #mc_embed_signup input:focus {
    outline: 0;
    outline-offset: 0; }
#mc_embed_signup .btn-main {
  display: inline;
  font-size: 12px; }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
  order: 1; }
  @media only screen and (max-width: 670px) {
    .flex-container {
      flex-direction: column; } }
  .flex-container .flex-1stcol {
    margin-right: 30px;
    max-width: 60%; }
    @media only screen and (max-width: 670px) {
      .flex-container .flex-1stcol {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0; } }
  .flex-container .flex-nested-row {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 670px) {
      .flex-container .flex-nested-row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px; } }
    .flex-container .flex-nested-row img.notb1-logo {
      display: inline;
      margin-top: 10px;
      max-height: 48px; }
      @media only screen and (max-width: 870px) {
        .flex-container .flex-nested-row img.notb1-logo {
          max-height: 40px; } }
      @media only screen and (max-width: 670px) {
        .flex-container .flex-nested-row img.notb1-logo {
          max-width: 200px;
          max-height: none;
          margin-bottom: 30px; } }
  .flex-container .flex-2ndcol_no-border {
    padding: 0 30px;
    max-width: 100%; }
    .flex-container .flex-2ndcol_no-border img.screenshot {
      max-width: 100%;
      padding: 0;
      margin-bottom: 30px;
      -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
      box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1); }
      @media only screen and (max-width: 670px) {
        .flex-container .flex-2ndcol_no-border img.screenshot {
          max-width: 90%; } }
    .flex-container .flex-2ndcol_no-border li {
      padding-bottom: 5px; }
      .flex-container .flex-2ndcol_no-border li img {
        width: 35px;
        margin-right: 15px; }
    @media only screen and (max-width: 670px) {
      .flex-container .flex-2ndcol_no-border {
        border: 0;
        margin: 0;
        padding: 0; } }
  .flex-container .flex-2ndcol_leftborder {
    border-left: 2px solid #6E9934;
    padding-left: 30px;
    max-width: 40%; }
    .flex-container .flex-2ndcol_leftborder li {
      padding-bottom: 5px; }
      .flex-container .flex-2ndcol_leftborder li img {
        width: 35px;
        margin-right: 15px; }
    @media only screen and (max-width: 670px) {
      .flex-container .flex-2ndcol_leftborder {
        border: 0;
        margin: 20px 0 0 0;
        padding: 0;
        max-width: 100%; } }
  .flex-container aside.left {
    display: inline-block;
    min-width: 200px;
    font-family: "Tisa Pro", Georgia, serif;
    font-size: 18px;
    font-style: italic;
    color: #6E9934;
    line-height: 24px;
    border-top: 2px solid #6E9934;
    margin: 10px 30px 30px 0;
    padding-top: 5px; }
    @media only screen and (max-width: 670px) {
      .flex-container aside.left {
        float: none;
        margin: 20px 0 30px 0;
        max-width: 200px; } }
  .flex-container aside.right {
    display: inline-block;
    min-width: 200px;
    font-family: "Tisa Pro", Georgia, serif;
    font-size: 18px;
    font-style: italic;
    color: #6E9934;
    line-height: 24px;
    border-top: 2px solid #6E9934;
    margin: 60px 0 50px 30px;
    padding-top: 5px;
    order: 2; }
    @media only screen and (max-width: 670px) {
      .flex-container aside.right {
        margin: 20px 0 30px 0;
        max-width: 200px;
        order: 0; } }
  .flex-container .flex-aside-text-container {
    display: flex;
    flex-direction: column; }
    .flex-container .flex-aside-text-container h2.flex-aside-text-container-today {
      margin-top: 0; }

#story-founder-logos {
  margin: 0;
  display: flex;
  align-items: center;
  padding-bottom: 30px; }
  @media only screen and (max-width: 670px) {
    #story-founder-logos {
      flex-direction: column;
      align-items: flex-start; } }
  #story-founder-logos img {
    max-width: 160px; }

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px; }
  .flex-grid .bio-list-item {
    display: flex;
    margin-right: 40px;
    margin-bottom: 20px;
    flex-direction: column; }
    .flex-grid .bio-list-item .bio-list-item_image {
      width: 150px;
      height: 150px;
      margin-top: 20px; }
    .flex-grid .bio-list-item p.bio-list-item_info {
      width: 150px;
      margin-top: 10px;
      font-size: 12px;
      line-height: 18px; }
      .flex-grid .bio-list-item p.bio-list-item_info span.bio-list-item_name {
        font-weight: 600; }
  .flex-grid .news-item {
    width: 240px;
    margin-right: 25px;
    font-size: 13px;
    line-height: 16px; }
    @media only screen and (max-width: 870px) {
      .flex-grid .news-item {
        width: 50%; } }

.homepage-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: "space-between";
  -moz-justify-content: "space-between";
  justify-content: "space-between";
  -webkit-box-align: "baseline";
  -ms-flex-align: "baseline";
  -webkit-align-items: "baseline";
  -moz-align-items: "baseline";
  align-items: "baseline"; }
  @media only screen and (max-width: 670px) {
    .homepage-flex {
      flex-direction: column; } }
  .homepage-flex .homepage-flex-icon img {
    max-width: 80px;
    margin-right: 20px;
    margin-top: 20px; }
    @media only screen and (max-width: 870px) {
      .homepage-flex .homepage-flex-icon img {
        max-width: 70px; } }
    @media only screen and (max-width: 670px) {
      .homepage-flex .homepage-flex-icon img {
        max-width: 90px; } }
  .homepage-flex .homepage-flex-content {
    max-width: 40%;
    margin-right: 20px; }
    .homepage-flex .homepage-flex-content h3 {
      margin-bottom: 5px; }
    @media only screen and (max-width: 870px) {
      .homepage-flex .homepage-flex-content {
        font-size: 13px; }
        .homepage-flex .homepage-flex-content ol {
          margin-bottom: 20px; }
        .homepage-flex .homepage-flex-content h3 {
          font-size: 14px;
          margin-bottom: 5px; } }
    @media only screen and (max-width: 670px) {
      .homepage-flex .homepage-flex-content {
        max-width: 100%;
        font-size: 16px; }
        .homepage-flex .homepage-flex-content h3 {
          font-size: 16px; } }

.timeline-flex {
  display: flex;
  height: 2220px;
  justify-content: center;
  margin-bottom: 100px; }
  .timeline-flex .timeline-rule {
    margin-top: 20px;
    height: 100%;
    width: 12px;
    background-color: #dbdef0; }
  .timeline-flex .timeline-item-container {
    display: flex;
    flex-direction: column; }
    .timeline-flex .timeline-item-container .timeline-item {
      max-width: 300px; }
      .timeline-flex .timeline-item-container .timeline-item h3 {
        padding-left: 20px;
        margin-bottom: 10px;
        font-size: 16px; }
      .timeline-flex .timeline-item-container .timeline-item h2 {
        color: #6E9934;
        font-size: 22px;
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 17px 20px 0 20px;
        margin-bottom: 0;
        border-top: 3px solid #3B4991; }
      .timeline-flex .timeline-item-container .timeline-item p {
        padding: 13px 20px 60px 20px;
        font-size: 14px;
        line-height: 22px; }
      .timeline-flex .timeline-item-container .timeline-item .timeline-item-year {
        font-weight: 400; }

ol.event-list-three-columns {
  margin: 0;
  padding: 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  list-style-type: none; }
  @media only screen and (max-width: 870px) {
    ol.event-list-three-columns {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; } }
  @media only screen and (max-width: 670px) {
    ol.event-list-three-columns {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1; } }
  ol.event-list-three-columns .event-list-item {
    display: inline-block;
    width: 100%; }

img.pub-logo {
  display: inline;
  max-width: 200px;
  margin-top: 40px;
  margin-bottom: 10px; }
  @media only screen and (max-width: 670px) {
    img.pub-logo {
      max-width: 200px;
      margin-top: 30px; } }

footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 12px; }
  footer #footer-rule {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: #dbdef0; }
  footer .page-footer_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: "space-around";
    -moz-justify-content: "space-around";
    justify-content: "space-around";
    -webkit-box-align: "baseline";
    -ms-flex-align: "baseline";
    -webkit-align-items: "baseline";
    -moz-align-items: "baseline";
    align-items: "baseline";
    justify-content: space-around;
    max-width: 1100px; }
    @media only screen and (max-width: 670px) {
      footer .page-footer_content {
        flex-direction: column;
        padding-left: 40px; } }
    @media only screen and (max-width: 670px) {
      footer .page-footer_content section {
        margin: 0 0 15px 0; } }
    footer .page-footer_content ul {
      padding: 0;
      margin: 0; }
    footer .page-footer_content li {
      padding-bottom: 5px; }
      footer .page-footer_content li img {
        width: 25px;
        margin-right: 5px;
        margin-top: 5px; }
        @media only screen and (max-width: 670px) {
          footer .page-footer_content li img {
            width: 30px;
            margin-right: 10px; } }
  footer .footer-copyright {
    text-align: right;
    padding-right: 50px;
    padding-left: 0; }
    @media only screen and (max-width: 670px) {
      footer .footer-copyright {
        padding: 0;
        text-align: left; } }
  footer #footer-logo {
    width: 120px; }
    @media only screen and (max-width: 670px) {
      footer #footer-logo {
        width: 100px; } }
