* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

article {
  max-width: 900px;
  margin-top: 30px;
  margin-left: 80px;
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 14px; }
  @media only screen and (max-width: 857px) {
    article {
      margin: 0 40px; } }
  @media only screen and (max-width: 655px) {
    article {
      margin: 0 40px; } }

section {
  margin-bottom: 35px; }

p {
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 14px;
  line-height: 20px; }

a {
  color: #3B4991; }

h1 {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #6E9934; }

h2 {
  font-size: 18px;
  font-weight: 100; }
  h2 a {
    color: #3B4991; }

h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #6E9934; }

h4 {
  padding: 0;
  margin: 0;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style-type: none; }

address {
  font-style: normal; }

.page-header {
  width: 100%;
  height: 90px;
  padding: 25px 25px 0 50px;
  margin: 0;
  position: relative;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-image: url("../../images/headerbg.png"); }
  @media only screen and (max-width: 857px) {
    .page-header {
      font-size: 10px;
      padding: 25px 0 0 25px; } }
  @media only screen and (max-width: 655px) {
    .page-header {
      background-image: none;
      position: relative;
      height: 60px;
      border-bottom: #6E9934 solid 2px;
      padding: 25px 75px 0 50px; } }
  .page-header img {
    width: 130px;
    float: left; }
    @media only screen and (max-width: 857px) {
      .page-header img {
        width: 110px;
        padding-top: 2px; } }
    @media only screen and (max-width: 655px) {
      .page-header img {
        display: none; } }
  .page-header ul#top-nav {
    padding-right: 35px; }
    @media only screen and (max-width: 857px) {
      .page-header ul#top-nav {
        padding-top: 3px; } }

@media only screen and (max-width: 655px) {
  nav {
    width: calc(100% - 70px);
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    transition: right 200ms ease-in-out; }
    nav.open {
      left: 70px; }
    nav .handle {
      width: 70px;
      height: 60px;
      position: absolute;
      top: 0;
      left: -70px;
      cursor: pointer;
      border-left: 2px solid #6E9934;
      border-right: 2px solid #6E9934; }
    nav .handle-container {
      width: 40px;
      position: relative;
      left: 13px; }
      nav .handle-container span {
        display: block;
        position: relative;
        background: #6E9934;
        height: 3px; }
        nav .handle-container span:nth-child(1) {
          top: 12px; }
        nav .handle-container span:nth-child(2) {
          top: 17px; }
        nav .handle-container span:nth-child(3) {
          top: 22px; } }

#nav-mobile-menu {
  display: none; }
  @media only screen and (max-width: 655px) {
    #nav-mobile-menu {
      display: block;
      position: relative;
      top: 13px;
      font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #6E9934;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 2px; } }

nav ul {
  position: relative;
  float: right; }
  @media only screen and (max-width: 655px) {
    nav ul {
      background: #FFFFFF;
      width: 250px;
      border: 2px solid #6E9934;
      border-radius: 3px;
      float: none; } }
  nav ul li {
    display: inline;
    position: relative;
    padding-left: 35px; }
    @media only screen and (max-width: 857px) {
      nav ul li {
        padding-left: 15px;
        padding-right: 0; } }
    @media only screen and (max-width: 655px) {
      nav ul li {
        display: block;
        padding: 10px 0; } }
    nav ul li a {
      color: #FFFFFF;
      text-decoration: none; }
      @media only screen and (max-width: 655px) {
        nav ul li a {
          color: #6E9934;
          padding-left: 10px; } }
    nav ul li:hover ul {
      display: block; }
    nav ul li ul {
      padding: 10px;
      position: absolute;
      display: none;
      left: 0;
      top: 100%;
      border: 2px solid #b6bdc4;
      border-radius: 3px;
      background: #FFFFFF; }
      @media only screen and (max-width: 655px) {
        nav ul li ul {
          position: relative;
          border: 0; } }

nav .children {
  display: none;
  width: 210px;
  padding: 0;
  left: 27%; }
  @media only screen and (max-width: 857px) {
    nav .children {
      left: 16%;
      width: 190px; } }
  @media only screen and (max-width: 655px) {
    nav .children {
      display: block;
      width: 100%;
      left: 5px; } }
  nav .children li {
    display: inherit;
    padding: inherit; }
    nav .children li a {
      display: block;
      padding: 10px 20px;
      color: #64717D;
      border-bottom: 2px solid #b6bdc4; }
      nav .children li a:hover {
        color: #202428; }
      @media only screen and (max-width: 857px) {
        nav .children li a {
          padding: 10px 15px; } }
  nav .children li:last-of-type a {
    border-bottom: 0; }

nav li.has-children > a:before {
  content: "\25bc";
  display: inline;
  position: relative;
  margin-right: 5px;
  top: -2px;
  font-size: 80%; }

#nav-align-left {
  left: -40%;
  width: 150px; }
  @media only screen and (max-width: 857px) {
    #nav-align-left {
      left: -85%; } }
  @media only screen and (max-width: 655px) {
    #nav-align-left {
      left: 0;
      width: 220px; } }

ol, ul {
  padding: 0;
  list-style-type: none; }

ol li, ul li {
  padding-bottom: 10px; }

footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 12px; }

#footer-rule {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  background: #dbdef0; }

.page-footer_content {
  display: flex;
  justify-content: space-around;
  max-width: 1100px; }
  @media only screen and (max-width: 655px) {
    .page-footer_content {
      flex-direction: column;
      padding-left: 40px; } }
  @media only screen and (max-width: 655px) {
    .page-footer_content section {
      margin: 0 0 15px 0; } }
  .page-footer_content ul {
    padding: 0;
    margin: 0; }
  .page-footer_content li {
    padding-bottom: 5px; }
    .page-footer_content li img {
      width: 25px;
      margin-right: 5px;
      margin-top: 5px; }

.footer-copyright {
  text-align: right;
  padding-right: 50px;
  padding-left: 0; }
  @media only screen and (max-width: 655px) {
    .footer-copyright {
      padding: 0;
      text-align: left; } }

#page-footer_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: "space-around";
  -moz-justify-content: "space-around";
  justify-content: "space-around";
  -webkit-box-align: "baseline";
  -ms-flex-align: "baseline";
  -webkit-align-items: "baseline";
  -moz-align-items: "baseline";
  align-items: "baseline"; }

#footer-logo {
  width: 120px; }
  @media only screen and (max-width: 655px) {
    #footer-logo {
      width: 100px; } }
