* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
aside {
  margin: 1rem 0px; }

article {
  margin: 0 auto;
  max-width: 700px;
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 16px; }
  @media only screen and (max-width: 740px) {
    article {
      margin: 0 auto;
      padding: 0 30px; } }

section {
  margin-bottom: 35px; }

p {
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 10px; }

a {
  color: #3B4991; }
  a:hover {
    color: #5c6cbd; }
  a a#calendar {
    color: #000000; }

h1 {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #6E9934; }

header {
  margin-top: 40px; }

h2 {
  margin-bottom: 5px;
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 20px;
  font-weight: 100; }

h3 {
  margin-bottom: 0;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #6E9934; }
  h3 a {
    color: #3B4991; }
    h3 a:hover {
      color: #5c6cbd; }

h4 {
  margin: 0;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #000000; }

h5 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #6E9934;
  text-transform: uppercase;
  letter-spacing: 1px; }

h6 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 2px;
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 12px;
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: uppercase;
  list-style-type: none; }

address {
  font-style: normal; }

@media only screen and (max-width: 740px) {
  small {
    font-size: 14px; } }

blockquote {
  padding: 0;
  color: #64717D;
  font-style: italic;
  font-size: 24px;
  text-align: center; }
  blockquote:before {
    content: '\201C';
    display: block;
    margin-bottom: -3rem;
    text-align: center;
    font-size: 4em;
    color: #7cac3a; }
  blockquote:after {
    content: '\201D';
    display: block;
    text-align: center;
    font-size: 4em;
    color: #89bf41; }
  blockquote .blockquote-source {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 26px; }

aside.left {
  display: inline;
  float: left;
  width: 180px;
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 18px;
  font-style: italic;
  color: #6E9934;
  line-height: 24px;
  border-top: 2px solid #6E9934;
  margin: 10px 30px 30px -150px;
  padding-top: 5px; }
  @media only screen and (max-width: 1020px) {
    aside.left {
      margin: 10px 30px 60px 0; } }
  @media only screen and (max-width: 740px) {
    aside.left {
      width: 280px;
      float: none;
      display: block;
      margin: 20px 0 20px 0; } }

aside.right {
  display: inline;
  float: right;
  width: 170px;
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 18px;
  font-style: italic;
  color: #6E9934;
  line-height: 24px;
  border-top: 2px solid #6E9934;
  margin: 10px -130px 30px 30px;
  padding-top: 5px; }
  @media only screen and (max-width: 1020px) {
    aside.right {
      margin: 10px 0 60px 30px; } }
  @media only screen and (max-width: 740px) {
    aside.right {
      float: none;
      display: block;
      width: 320px;
      margin: 20px 0 20px 0; } }

ol, ul {
  padding: 0;
  list-style-type: none; }

.long-list li {
  padding-bottom: 12px; }

hr {
  display: block;
  margin: 4rem auto;
  padding: 0;
  max-width: 25%;
  height: 1px;
  border-top: 3px solid #6E9934;
  border-radius: none; }

.indigo {
  color: #3B4991;
  font-weight: 600; }

.btn-main {
  display: inline-block;
  background: #3B4991;
  padding: 13px 26px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  border-radius: 3px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #FFFFFF; }
  .btn-main:hover {
    background: #4252a3;
    color: #FFFFFF;
    cursor: pointer; }

.btn-secondary {
  display: inline-block;
  border: 2px solid #3B4991;
  padding: 10px 25px;
  margin-right: 10px;
  margin-bottom: 25px;
  border-radius: 3px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #3B4991; }
  .btn-secondary:hover {
    border: 2px solid #6e7cc4;
    color: #6e7cc4;
    cursor: pointer; }

.btn-secondary-charter {
  display: inline-block;
  border: 2px solid #3B4991;
  padding: 10px 25px;
  margin-right: 10px;
  margin-bottom: 25px;
  border-radius: 3px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #3B4991; }
  .btn-secondary-charter:hover {
    border: 2px solid #6e7cc4;
    color: #6e7cc4;
    cursor: pointer; }

#charter-supporters-container {
  display: none; }
  #charter-supporters-container.open {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 14px; }
    #charter-supporters-container.open ul {
      margin-top: 0;
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      list-style-type: none; }
      @media only screen and (max-width: 900px) {
        #charter-supporters-container.open ul {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2; } }
      @media only screen and (max-width: 740px) {
        #charter-supporters-container.open ul {
          -webkit-column-count: 1;
          -moz-column-count: 1;
          column-count: 1; } }
      #charter-supporters-container.open ul .list-item {
        display: inline-block;
        width: 100%; }
  #charter-supporters-container p {
    font-size: 14px; }

.page-header {
  height: 100px;
  padding: 25px 0 0 15px;
  margin: 0;
  position: relative;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 15px solid #6E9934;
  background-image: url("../../images/headerbg.png"); }
  @media only screen and (max-width: 900px) {
    .page-header {
      font-size: 11px;
      padding: 25px 0 0 25px; } }
  @media only screen and (max-width: 740px) {
    .page-header {
      background-image: none;
      height: 75px;
      border-bottom: #6E9934 solid 2px;
      padding: 25px 75px 0 25px;
      font-size: 12px; } }
  .page-header img {
    width: 130px;
    float: left; }
    @media only screen and (max-width: 900px) {
      .page-header img {
        width: 110px;
        padding-top: 2px; } }
    @media only screen and (max-width: 740px) {
      .page-header img {
        width: 110px;
        padding-top: 0; } }

.page-header-container {
  margin: 0 auto;
  max-width: 1000px; }

.page-header_homepage {
  position: relative;
  padding: 25px 0 0 15px;
  margin: 0;
  height: 400px;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-image: url("../../images/headerbg_homepage.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 15px solid #6E9934; }
  @media only screen and (max-width: 900px) {
    .page-header_homepage {
      font-size: 11px;
      padding: 25px 0 0 25px; } }
  @media only screen and (max-width: 740px) {
    .page-header_homepage {
      background-image: none;
      height: 75px;
      border-bottom: #6E9934 solid 2px;
      padding: 25px 75px 0 25px;
      font-size: 12px; } }
  .page-header_homepage img {
    width: 130px;
    float: left; }
    @media only screen and (max-width: 900px) {
      .page-header_homepage img {
        width: 110px;
        padding-top: 2px; } }
    @media only screen and (max-width: 740px) {
      .page-header_homepage img {
        width: 110px;
        padding-top: 0; } }
  .page-header_homepage .hero-text-container {
    max-width: 950px;
    padding: 115px 20px 0 20px;
    margin: 0 auto; }
    @media only screen and (max-width: 900px) {
      .page-header_homepage .hero-text-container {
        padding-top: 100px; } }
    @media only screen and (max-width: 740px) {
      .page-header_homepage .hero-text-container {
        display: none; } }
    .page-header_homepage .hero-text-container .hero-header {
      font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 32px;
      text-transform: none;
      letter-spacing: 0;
      color: #FFFFFF; }
    .page-header_homepage .hero-text-container .hero-subheader {
      padding-top: 25px;
      font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 22px;
      text-transform: none;
      letter-spacing: 0;
      color: #FFFFFF; }

nav {
  z-index: 1; }
  nav .handle span {
    display: none; }
  @media only screen and (max-width: 740px) {
    nav {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 100%;
      transition: right 200ms ease-in-out; }
      nav .handle {
        width: 80px;
        height: 75px;
        position: fixed;
        top: 0;
        right: 0;
        cursor: pointer;
        border-left: 2px solid #6E9934;
        border-bottom: 2px solid #6E9934;
        background: #FFFFFF; }
        nav .handle:before {
          content: "";
          position: absolute;
          top: 18px;
          right: 0;
          height: 3px;
          width: 40px;
          border-bottom: 3px solid #6E9934;
          margin-right: 19px; }
        nav .handle:after {
          content: "";
          position: absolute;
          top: 25px;
          right: 0;
          height: 3px;
          width: 40px;
          border-bottom: 3px solid #6E9934;
          margin-right: 19px; }
        nav .handle span {
          display: inherit;
          position: inherit;
          top: 45px;
          right: 0;
          margin-right: 17px;
          font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 12px;
          font-weight: 800;
          color: #6E9934;
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 2px; }
          nav .handle span:before {
            content: "";
            position: absolute;
            bottom: 22px;
            right: 0;
            height: 3px;
            width: 40px;
            border-bottom: 3px solid #6E9934;
            margin-right: 2px; }
      nav.open .handle:before {
        margin: 0;
        top: 30px;
        right: 24px;
        width: 30px;
        border-bottom: 4px solid #6E9934;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg); }
      nav.open .handle:after {
        margin: 0;
        top: 30px;
        right: 25px;
        width: 30px;
        border-bottom: 4px solid #6E9934;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      nav.open .handle span {
        display: none; }
      nav > ul {
        overflow-y: scroll;
        max-height: 90vh; }
      nav.open ul {
        right: calc(265px + 80px - 2px); } }
  nav ul {
    position: relative;
    float: right;
    margin-right: 25px;
    margin-top: 12px; }
    @media only screen and (max-width: 740px) {
      nav ul {
        float: none;
        padding-top: 6.5px;
        margin: 0;
        background: #FFFFFF;
        border-bottom: 2px solid #6E9934;
        border-left: 2px solid #6E9934;
        border-right: 2px solid #6E9934;
        border-radius: 3px; } }
    nav ul li {
      font-size: 13px;
      display: inline;
      position: relative;
      padding-left: 35px; }
      nav ul li:last-of-type {
        border-bottom: 0; }
      @media only screen and (max-width: 900px) {
        nav ul li {
          font-size: 12px;
          padding-left: 15px;
          padding-right: 0; } }
      @media only screen and (max-width: 740px) {
        nav ul li {
          display: block;
          padding: 0; } }
      nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
        padding: 20px 0; }
        nav ul li a:hover {
          color: #FFFFFF; }
        @media only screen and (max-width: 740px) {
          nav ul li a {
            display: block;
            padding: 10px 20px 10px 15px;
            border-bottom: 2px solid #b6bdc4;
            color: #6E9934;
            font-weight: 600; }
            nav ul li a:hover {
              color: #537327; } }
      nav ul li:hover ul {
        display: block;
        top: 25px; }
        @media only screen and (max-width: 740px) {
          nav ul li:hover ul {
            top: 0; } }
      nav ul li ul {
        margin: 0;
        padding: 10px;
        position: absolute;
        display: none;
        left: 0;
        top: 100%;
        border-top: 2px solid #b6bdc4;
        border-left: 2px solid #b6bdc4;
        border-right: 2px solid #b6bdc4;
        border-radius: 3px;
        background: #FFFFFF; }
        @media only screen and (max-width: 740px) {
          nav ul li ul {
            position: relative;
            border: 0; } }

nav > ul > li:last-of-type li:last-of-type a {
  border-bottom: 0; }

nav .children {
  display: none;
  width: 215px;
  padding: 0;
  left: 27%;
  z-index: 2; }
  @media only screen and (max-width: 900px) {
    nav .children {
      left: 16%;
      width: 208px; } }
  @media only screen and (max-width: 740px) {
    nav .children {
      display: block;
      left: 0; } }
  nav .children li {
    display: inherit;
    padding: inherit; }
    nav .children li a {
      display: block;
      padding: 10px 13px;
      color: #64717D;
      font-size: 12px;
      font-weight: 600;
      border-bottom: 2px solid #b6bdc4; }
      nav .children li a:hover {
        color: #202428; }
      @media only screen and (max-width: 900px) {
        nav .children li a {
          padding: 10px 15px; } }
      @media only screen and (max-width: 740px) {
        nav .children li a {
          padding-left: 25px;
          width: 246px;
          font-weight: 600; }
          nav .children li a:last-of-type {
            border-bottom: 2px solid #b6bdc4; } }

nav li.has-children > a:before {
  content: "\25bc";
  display: inline;
  position: relative;
  margin-right: 5px;
  top: -2px;
  font-size: 90%; }
  @media only screen and (max-width: 740px) {
    nav li.has-children > a:before {
      display: none; } }
@media only screen and (max-width: 740px) {
  nav li.has-children > a:after {
    content: "\25bc";
    display: inline;
    position: relative;
    margin-left: 5px;
    top: -2px;
    font-size: 80%; } }
@media only screen and (max-width: 740px) {
  nav li.has-children > a:hover {
    color: #6E9934; } }

#nav-align-left {
  left: -40%;
  width: 160px;
  border-bottom: 2px solid #b6bdc4; }
  @media only screen and (max-width: 900px) {
    #nav-align-left {
      left: -85%; } }
  @media only screen and (max-width: 740px) {
    #nav-align-left {
      left: 0;
      width: 246px;
      border-bottom: 0; } }

.flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5px;
  order: 1; }
  @media only screen and (max-width: 740px) {
    .flex-container {
      flex-direction: column; }
      .flex-container h3 {
        margin: 1rem 0; } }
  .flex-container .flex-1stcol {
    margin-right: 30px;
    max-width: 60%; }
    @media only screen and (max-width: 740px) {
      .flex-container .flex-1stcol {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        margin: 0; } }
  .flex-container .flex-nested-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 740px) {
      .flex-container .flex-nested-row {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px; } }
    .flex-container .flex-nested-row img.notb1-logo {
      display: inline;
      margin-top: 10px;
      max-height: 40px; }
      @media only screen and (max-width: 740px) {
        .flex-container .flex-nested-row img.notb1-logo {
          max-width: 200px;
          max-height: none;
          margin-bottom: 30px; } }
  .flex-container .flex-2ndcol_no-border {
    padding: 0 30px;
    max-width: 100%; }
  .flex-container img.screenshot {
    max-width: 100%;
    padding: 0;
    margin-bottom: 30px;
    -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 740px) {
      .flex-container img.screenshot {
        max-width: 100%; } }
  .flex-container li {
    padding-bottom: 5px; }
    .flex-container li img {
      width: 35px;
      margin-right: 15px; }
  @media only screen and (max-width: 740px) {
    .flex-container {
      border: 0;
      margin: 0;
      padding: 0; } }
  .flex-container .flex-2ndcol_leftborder {
    border-left: 2px solid #6E9934;
    padding-left: 30px;
    max-width: 100%; }
    .flex-container .flex-2ndcol_leftborder li {
      padding-bottom: 5px; }
      .flex-container .flex-2ndcol_leftborder li img {
        width: 35px;
        margin-right: 15px; }
    @media only screen and (max-width: 740px) {
      .flex-container .flex-2ndcol_leftborder {
        border: 0;
        margin: 20px 0 0 0;
        padding: 0;
        max-width: 100%; } }

#story-founder-logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  align-items: center;
  padding-bottom: 30px; }
  @media only screen and (max-width: 740px) {
    #story-founder-logos {
      flex-direction: column;
      align-items: flex-start; } }
  #story-founder-logos img {
    max-width: 160px; }

.flex-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px; }
  .flex-grid a {
    cursor: pointer;
    padding-right: 20px; }
  .flex-grid .bio-list-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-bottom: 20px; }
    .flex-grid .bio-list-item._short-bio-container {
      padding-right: 20px; }
    .flex-grid .bio-list-item .bio-list-item_image {
      width: 150px;
      height: 150px;
      margin-top: 20px; }
    .flex-grid .bio-list-item p.bio-list-item_info {
      width: 170px;
      margin-top: 10px;
      font-size: 14px;
      line-height: 20px; }
      .flex-grid .bio-list-item p.bio-list-item_info span.bio-list-item_name {
        font-weight: 600; }
    .flex-grid .bio-list-item .bio-list-item_modal {
      display: none;
      padding: 40px;
      position: fixed;
      top: 40px;
      right: 25%;
      left: 25%;
      bottom: 40px;
      z-index: 1000;
      background: white;
      border: 2px solid #6E9934;
      overflow-y: scroll; }
      @media only screen and (max-width: 900px) {
        .flex-grid .bio-list-item .bio-list-item_modal {
          right: 15%;
          left: 15%; } }
      @media only screen and (max-width: 740px) {
        .flex-grid .bio-list-item .bio-list-item_modal {
          right: 5%;
          left: 5%; } }
      .flex-grid .bio-list-item .bio-list-item_modal.visible {
        display: block; }
        .flex-grid .bio-list-item .bio-list-item_modal.visible h2 {
          margin-top: 0;
          margin-bottom: 0;
          color: #6E9934; }
        .flex-grid .bio-list-item .bio-list-item_modal.visible h4 {
          margin-top: 0;
          margin-bottom: 20px; }
      .flex-grid .bio-list-item .bio-list-item_modal .close {
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 15px;
        right: 15px;
        color: #6E9934;
        cursor: pointer;
        text-align: center;
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px; }
  .flex-grid .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    background: rgba(0, 0, 0, 0.3); }

.stop-scrolling {
  height: 100%;
  overflow: hidden; }

.card-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap; }
  .card-container h3 {
    position: relative;
    text-transform: uppercase;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 1px; }
    .card-container h3:after {
      content: "";
      position: relative;
      display: block;
      margin: 0 auto;
      padding-top: 7px;
      border-bottom: 2px solid #6E9934;
      width: 30px; }
  .card-container h2 {
    color: #6E9934;
    font-family: "Tisa Pro", Georgia, serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 26px;
    padding: 0 10px;
    margin-top: 15px; }
  .card-container p {
    color: #6E9934;
    font-size: 14px;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600; }
  .card-container p.card-pdf {
    font-size: 12px; }
  .card-container a.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 220px;
    min-height: 220px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid #6E9934;
    transition: box-shadow 250ms linear;
    flex: 0 1 auto;
    text-decoration: none;
    cursor: pointer; }
    .card-container a.card img {
      margin: 5px 0;
      width: 90px; }
    .card-container a.card:hover {
      -webkit-box-shadow: inset 0px 0px 0px 4px #6E9934;
      -moz-box-shadow: inset 0px 0px 0px 4px #6E9934;
      box-shadow: inset 0px 0px 0px 4px #6E9934; }
  .card-container .card_calendar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 220px;
    min-height: 220px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 2px solid #3B4991;
    transition: box-shadow 250ms linear;
    text-decoration: none;
    cursor: pointer; }
    .card-container .card_calendar:hover {
      -webkit-box-shadow: inset 0px 0px 0px 4px #3B4991;
      -moz-box-shadow: inset 0px 0px 0px 4px #3B4991;
      box-shadow: inset 0px 0px 0px 4px #3B4991; }
    .card-container .card_calendar h2, .card-container .card_calendar h3, .card-container .card_calendar p {
      color: #3B4991; }
    .card-container .card_calendar h2 {
      padding: 0; }
    .card-container .card_calendar h3:after {
      content: "";
      position: relative;
      display: block;
      margin: 0 auto;
      padding-top: 7px;
      border-bottom: 2px solid #3B4991;
      width: 30px; }
    .card-container .card_calendar .card_calendar_expand {
      display: none; }
      .card-container .card_calendar .card_calendar_expand p {
        font-weight: 400; }
      .card-container .card_calendar .card_calendar_expand.visible {
        display: inline; }
  .card-container .image-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 220px;
    min-height: 200px;
    padding: 9px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex: 0 1 auto;
    text-decoration: none;
    cursor: pointer; }
    .card-container .image-card.ar-2015 {
      background-image: url("../../images/ar-2015.png");
      background-size: cover;
      background-position: center; }
    .card-container .image-card.ar-2014 {
      background-image: url("../../images/ar-2014.png");
      background-size: cover;
      background-position: center; }
    .card-container .image-card h3 {
      color: #FFFFFF; }
      .card-container .image-card h3:after {
        content: "";
        position: relative;
        display: block;
        margin: 0 auto;
        padding-top: 7px;
        border-bottom: 2px solid #FFFFFF;
        width: 30px; }
    .card-container .image-card h2 {
      color: #FFFFFF;
      font-family: "Tisa Pro", Georgia, serif;
      font-size: 20px;
      font-weight: 100;
      line-height: 26px;
      padding: 0 10px;
      margin-top: 15px; }
    .card-container .image-card p {
      color: #FFFFFF;
      font-size: 14px;
      font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 600; }
  .card-container .outline {
    margin-top: 2px;
    border: 2px solid #FFFFFF;
    width: 200px;
    min-height: 200px;
    transition: box-shadow 250ms linear;
    flex: 1 1 auto; }
    .card-container .outline:hover {
      -webkit-box-shadow: inset 0px 0px 0px 3px #FFFFFF;
      -moz-box-shadow: inset 0px 0px 0px 3px #FFFFFF;
      box-shadow: inset 0px 0px 0px 3px #FFFFFF; }

#map {
  max-width: 100%; }

.events-logo {
  max-width: 300px;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2); }

.homepage-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-justify-content: "space-between";
  -moz-justify-content: "space-between";
  justify-content: "space-between";
  -webkit-box-align: "baseline";
  -ms-flex-align: "baseline";
  -webkit-align-items: "baseline";
  -moz-align-items: "baseline";
  align-items: "baseline"; }
  @media only screen and (max-width: 740px) {
    .homepage-flex {
      flex-direction: column; } }

.homepage-flex-icon img {
  max-width: 80px;
  margin-right: 20px;
  margin-top: 20px; }
  @media only screen and (max-width: 900px) {
    .homepage-flex-icon img {
      max-width: 70px; } }
  @media only screen and (max-width: 740px) {
    .homepage-flex-icon img {
      max-width: 90px; } }

.homepage-flex-content {
  margin-right: 20px; }
  .homepage-flex-content h3 {
    margin-bottom: 5px; }
  @media only screen and (max-width: 900px) {
    .homepage-flex-content {
      font-size: 13px; }
      .homepage-flex-content ol {
        margin-bottom: 20px; }
      .homepage-flex-content h3 {
        font-size: 14px;
        margin-bottom: 5px; } }
  @media only screen and (max-width: 740px) {
    .homepage-flex-content {
      max-width: 100%;
      font-size: 14px; }
      .homepage-flex-content h3 {
        font-size: 16px; } }

.timeline-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  height: 2600px;
  justify-content: center;
  margin-bottom: 100px; }
  @media only screen and (max-width: 740px) {
    .timeline-flex {
      justify-content: flex-start; } }
  .timeline-flex .timeline-rule {
    margin-top: 20px;
    height: 100%;
    width: 12px;
    background-color: #dbdef0; }
  .timeline-flex .timeline-item-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; }
    .timeline-flex .timeline-item-container .timeline-item {
      max-width: 300px; }
      .timeline-flex .timeline-item-container .timeline-item h3 {
        padding-left: 20px;
        margin-bottom: 10px;
        font-size: 18px; }
      .timeline-flex .timeline-item-container .timeline-item h2 {
        color: #6E9934;
        font-size: 22px;
        font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        padding: 17px 20px 0 20px;
        margin-bottom: 0;
        border-top: 3px solid #3B4991; }
      .timeline-flex .timeline-item-container .timeline-item p {
        padding: 13px 20px 60px 20px;
        font-size: 16px;
        line-height: 24px; }
      .timeline-flex .timeline-item-container .timeline-item .timeline-item-year {
        font-weight: 400; }

.light-purple-bg {
  position: relative;
  padding: 20px 40px;
  background-color: #dbdef0; }
  .light-purple-bg #mc_embed_signup input {
    margin-top: 10px;
    padding: 10px 10px;
    border: 1px solid #3B4991;
    color: #64717D;
    font-family: "Tisa Pro", Georgia, serif;
    font-size: 14px;
    border-radius: 3px; }
    .light-purple-bg #mc_embed_signup input:focus {
      outline: 0;
      outline-offset: 0; }
  .light-purple-bg #mc_embed_signup .sign-up-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: baseline; }
    .light-purple-bg #mc_embed_signup .sign-up-list .sign-up-col1 {
      width: 15%; }
    .light-purple-bg #mc_embed_signup .sign-up-list .sign-up-col2 {
      width: 40%; }
  .light-purple-bg #mc_embed_signup .btn-main {
    display: inline;
    color: #FFFFFF;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 600;
    margin-top: 0;
    margin-right: 0;
    padding-top: 14px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px; }

img.pub-logo {
  display: inline;
  max-width: 200px;
  margin-top: 40px;
  margin-bottom: 10px; }
  @media only screen and (max-width: 740px) {
    img.pub-logo {
      max-width: 200px;
      margin-top: 30px; } }

.stats {
  display: block;
  margin: 0 auto;
  max-width: 500px; }

footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Tisa Pro", Georgia, serif;
  font-size: 14px; }
  footer #footer-rule {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: #dbdef0; }
  footer .page-footer_content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-justify-content: "space-around";
    -moz-justify-content: "space-around";
    justify-content: "space-around";
    -webkit-box-align: "baseline";
    -ms-flex-align: "baseline";
    -webkit-align-items: "baseline";
    -moz-align-items: "baseline";
    align-items: "baseline";
    justify-content: space-around;
    max-width: 1100px; }
    @media only screen and (max-width: 740px) {
      footer .page-footer_content {
        flex-direction: column;
        padding-left: 40px; } }
    @media only screen and (max-width: 740px) {
      footer .page-footer_content section {
        margin: 0 0 15px 0; } }
    footer .page-footer_content ul {
      padding: 0;
      margin: 0; }
    footer .page-footer_content li {
      padding-bottom: 5px; }
      footer .page-footer_content li img {
        width: 25px;
        margin-right: 5px;
        margin-top: 5px; }
        @media only screen and (max-width: 740px) {
          footer .page-footer_content li img {
            width: 30px;
            margin-right: 10px; } }
  footer .footer-copyright {
    text-align: right;
    padding-right: 50px;
    padding-left: 0; }
    @media only screen and (max-width: 740px) {
      footer .footer-copyright {
        padding: 0;
        text-align: left; } }
  footer #footer-logo {
    width: 120px; }
    @media only screen and (max-width: 740px) {
      footer #footer-logo {
        width: 100px; } }
