* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
} 

body {
	margin: 0;
}

/* navigation */
nav {
	padding: 0;
	margin: 0;
	height: 90px;
	width: 100%;
	background-image: url("images/headerbg.png");
	position: relative;
	z-index: 1;
}

a.navlink-firstlevel {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px; 
	font-weight: 600;
	text-decoration: none;
	color: #FFF;
	letter-spacing: 1px; 
}

a.navlink-secondlevel{
	color: #64717D;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px; 
	font-weight: 600;
	text-decoration: none;
	letter-spacing: 1px; 
}

nav li ul li a:hover {
	color: #4B555E;
}

nav ul {
	float: right;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav ul li{
	display: inline;
	position: relative;
	padding-right: 20px;
}

nav ul ul {
	position: absolute;
	display: none;
	left: 0;
	top: 100%;
	border: 2px solid #C1C6CB;
	border-radius: 3px;
	background-color: #FFF; 
	padding: 10px;
}

nav li:hover ul {
	display: block;
}

#navlogo {
	width: 200px;
	height: 100px;
	background-image: url("images/whitelogo.png");
	background-repeat: no-repeat;
	position: relative;
	float: left;
	left: 50px;
	top: 20px;
}

/* Need to fix spacing of financials */

/* footer */

.page-footer {
	margin-top: 100px;
	width: 100%;
	height: 260px;
}

#footer-rule {
	width: 100%;
	height: 50px;
	margin-bottom: 20px;
	background-color: #D8DBE9;
}

#footer-logo {
	height: 25px;
}

#page-footer_content {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	padding-left: 20px;
	padding-right: 20px;
}

.list-title_footer {
	font-family: 'Tisa Pro', 'serif';
	font-size: 12px;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	font-style: italic;
	list-style-type: none; 
} 

.list-item_footer {
	color: black;
}

.list-item-left_footer {
	text-align: right;
	font-family: 'Tisa Pro', 'serif';
	font-size: 12px;
	list-style-type: none; 
}

.list-item_footer, .list-item_footer a {
	font-family: 'Tisa Pro', 'serif';
	font-size: 12px;
	list-style-type: none;
	line-height: 18px; 
}

.list-item_footer a {
	color: #3B4991;
	line-height: 20px;
}

.list-social_footer {
	max-width: 30px;
	padding-top: 3px;
	position: relative;
	list-style-type: none;
}

/* content */

.main-content {
	max-width: 800px;
	padding-top: 30px;
	padding-left: 80px;
}

a {
	color: #3B4991;
	font-family: 'Tisa Pro', serif;
	font-style: bold;
}

p {
	font-family: 'Tisa Pro', serif;
	font-size: 14px;
	line-height: 20px;
}

.content-section {
	margin-bottom: 35px;
}

h3 {
	font-family: 'Tisa Pro', serif;
	font-size: 14px;
	font-weight: 600;
	color: #6E9934;
	margin-bottom: -10px;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.8em;
	font-weight: 300;
	color: #6E9934;
}

h2 {
	font-family: 'Tisa Pro', serif;
	font-size: 1.2em;
	font-weight: 100;
	margin-bottom: -5px;

h2 a {
	font-family: 'Tisa Pro', serif;
	font-size: 1.2em;
	color: #3B4991;
}
